@import "../Global/Global.scss";
.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color:$header_bg;
    color: $font_color;
    .header__user-wrapp{
        display: flex;
        align-items: center;
        justify-content: center;
        .header__user-wrapp__avatar-icon{
            width: 30px; 
            height: 30px;
            border-radius: 50%;
        }
        .header__user-wrapp__avatar-name{
            font-size: 14px;
            padding: 0 5px;
            @media only screen and (max-width:600px) {
                font-size: 8px;
             }
        }
    }
    .header__input{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        height: 100%;
        padding: 0 10px;
        border-radius: 10px;
        background-color: $header_input_bg;
        .header__input__search-icon{
            color: #fff;
            width: 20px;
            height: 20px;
        }
    }
    .header__help-icon{
        width: 30px;
        height: 30px;
    }
    .header__menu-icon{
        display: none;
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        .header__menu-icon__item{
            position: absolute;
            width: 100%;
            left: 0;
            top: 3.5px;
            height: 3px;
            background-color: #fff;
            border-radius: 7px;
            &::after, &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: #fff;
                border-radius: inherit;
            }
            &::after{
                top: 10px;
            }
            &::before{
                top: 20px;
            }
        }
    }
    @media only screen and (max-width:600px) {
        .header__menu-icon{
            display: block;
        }
        .header__input{
            width: 150px;
            font-size: 8px;
            .header__input__search-icon{
                width: 10px;
                height: 10px;
            }
        }
     }
}