$App_font: 'Roboto', sans-serif;

$sidebar_bg:#4c114d;
$sidebar_font_color:#ffffffcc;
$sidebar_font_color--disabled:#bbbbbbcc;
$nav_item_bg_hover:#390d3a;

$header_bg:#3F0E40;
$header_input_bg:rgba(103, 23, 104, 0.76);
$font_color:#ffffffcc;
